html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: linear-gradient(320deg, #f06767, #9e7474,
     #27b6b6);
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.header{
    background: linear-gradient(320deg, #f06767, #9e7474,
     #27b6b6);
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #262c33;

    

}

.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-kerning: auto;
    font-weight: 100;
    font-stretch: expanded;

}

.hbuttons{
    border: none;
  background-color: inherit;
  padding: 12px 6px;
  font-size: 17px;
  cursor: pointer;
  display: inline-block;

  
}

.hbuttons:hover {color: #fff9f9;}

.about{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;

}

.desc{
    
}

.pfp{
    position:relative;
    left:400px;
    bottom:180px
}